{% extends "layouts/header.html" %}

{% block beforeContent %}

<!-- Quick reference and task outstanding tag -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-5">

      {% set tasksOutstanding = {
        value: 'Task outstanding',
        classes: "govuk-tag--red"
        
      } %}

        {{ dwpQuickReference({
            ariaLabel: "Case information",
            primaryReference: {
                text: 'Name:',
                value: 'John Doe'
            },
            secondaryReference: {
                text: 'National Insurance number:',
                value: 'QQ 12 34 56 X'
            },
            status: (none if awarded == true else tasksOutstanding)
        })}}
    </div>

    <!-- horizontal nav -->
    {% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}

    <div class="govuk-grid-column-full govuk-!-padding-bottom-5">

      {{dwpHorizontalNavigation({
        selectedItem: "/claim/timeline.html",
        items: [
          {
            text: "Tasks",
            href: "/claim/tasks.html",
            id: "l-item-1"
          },
          {
            text: "Personal details",
            href: "/claim/personal-details.html",
            id: "l-item-2"
          },
          {
            text: "Claim details",
            href: "/claim/claim-details.html",
            id: "l-item-3"
          },
          {
            text: "Documents",
            href: "/claim/documents.html",
            id: "l-item-4"
          },
          {
            text: "Timeline",
            href: "/claim/timeline.html",
            id: "l-item-5"
          },
          {
            text: "Award",
            href: "/claim/award-summary.html",
            id: "l-item-6"
          }
        ]
      })}}
    </div>
</div>

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/claim/timeline.html"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        {{ govukRadios({
        name: "whereDoYouLive",
        fieldset: {
            legend: {
            text: "Add an event",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
        },
        items: [
            {
            value: "event-type",
            text: "Event type"
            },
            {
            value: "event-type-2",
            text: "Event type 2"
            }
        ]
        }) }}

        {{ govukButton({
            text: "Continue",
            href: "/claim/timeline/add-a-note.html",
            classes: "govuk-button--primary"})
        }}
    </div>
  </div>
{% endblock %}
