{% extends "version-1/layouts/internal-layout.html" %}

{% set pageName = "What is the claimant's nationality?" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="../search-nino-results" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ pageName }}
              </h1>
            </legend>
            <input class="govuk-input govuk-input--width-20" id="claimNationality" name="claimNationality" type="text" value="{{data['claimNationality']}}"/>
          </fieldset>
        </div>
        <input class="govuk-input govuk-visually-hidden" id="taskPersonalStatus" name="taskPersonalStatus" type="text" value="Inprogress">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
