{% extends "user-testing-1/layouts/internal-layout.html" %}
{% set hideRef = "true" %}
{% set pageName = "Advanced search" %}

{% block content %}
  
  
  <!-- <span class="govuk-caption-xl">Pedro Pascal</span> -->
  <h1 class="govuk-heading-xl">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">All search fields must be exact to match the results.</p>

      <form class="form" method="post" action="search-results">

        <!-- <div class="govuk-form-group">
          <label class="govuk-label" for="search-firstname">
            First name
          </label>
          <input class="govuk-input govuk-input--width-20" id="search-firstname" name="search-firstname" type="text">
        </div> -->

        <div class="govuk-form-group">
          <label class="govuk-label" for="search-surname">
            Last name
          </label>
          <input class="govuk-input govuk-input--width-20" id="search-surname" name="search-surname" type="text">
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend">
              Date of birth
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="search-dob-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="search-dob-day" name="search-dob-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="search-dob-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="search-dob-month" name="search-dob-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="search-dob--year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="search-dob-year" name="search-dob-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- <div class="govuk-form-group">
          <label class="govuk-label" for="search-address">
            Address line 1
          </label>
          <input class="govuk-input govuk-input--width-20" id="search-address" name="search-address" type="text">
        </div> -->

        <div class="govuk-form-group">
          <label class="govuk-label" for="search-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="search-postcode" name="search-postcode" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="search-contact">
            Phone number
          </label>
          <input class="govuk-input govuk-input--width-20" id="search-contact" name="search-contact" type="text">
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Search
        </button>
      </form>
    </div>
  </div>

{% endblock %}
