{% extends "user-testing-1/layouts/internal-layout.html" %}
{% set hideRef = "true" %}
{% set pageName = "Claimant details" %}
{% block content %}
  

  
  
  <h1 class="govuk-heading-xl">
    {{ pageName }}
  </h1>

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
    <ul class="dwp-horizontal-navigation__list">
      <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
        <a id="s-item-1" href="#s-item-1" class="dwp-horizontal-navigation__link" aria-current="true">Personal</a>
      </li>
      <li class="dwp-horizontal-navigation__item">
        <a id="s-item-2" href="#s-item-2" class="dwp-horizontal-navigation__link">Decision</a>
      </li>
      <li class="dwp-horizontal-navigation__item">
        <a id="s-item-3" href="#s-item-3" class="dwp-horizontal-navigation__link">Award</a>
      </li>
      <li class="dwp-horizontal-navigation__item">
        <a id="s-item-4" href="#s-item-4" class="dwp-horizontal-navigation__link">Payment</a>
      </li>
      <li class="dwp-horizontal-navigation__item">
        <a id="s-item-5" href="#s-item-5" class="dwp-horizontal-navigation__link">History</a>
      </li>
    </ul>
  </nav>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-m govuk-!-margin-top-9">Personal details</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['ClaimfirstName'] %}
              {{data['ClaimfirstName']}}
            {% else %}
              James
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Middle name
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['ClaimMiddleName'] %}
              {{data['ClaimMiddleName']}}
            {% else %}
              Jo
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['claimLastName'] %}
              {{data['claimLastName']}}
            {% else %}
              Smith
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['searchNino'] %}
              {{data['searchNino']}}
            {% else %}
              AB123456C
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {% 
            if (
            data['dateOfBirthDD'] and
            data['dateOfBirthMM'] and
            data['dateOfBirthYYYY'] 
            ) 
          %}
            {{ data['claimDateOfBirthDD'] }}
            {{ data['claimDateOfBirthMM'] | monthName }}
            {{ data['claimDateOfBirthYYYY'] }}
          {% else %}
            13 April 1958
          {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Age
          </dt>
          <dd class="govuk-summary-list__value">
            80 years and 1 month
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['claimNationality'] %}
              {{data['claimNationality']}}
            {% else %}
              British
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Welsh language spoken
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['claimWelshSpoken'] %}
              {{data['claimWelshSpoken']}}
            {% else %}
              No
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Welsh language written
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['claimWelshWritten'] %}
              {{data['claimWelshWritten']}}
            {% else %}
              No
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['claimMainContactNumber'] %}
              {{data['claimMainContactNumber']}}
            {% else %}
              0800001066
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['claimAddress1'] %}
              {{data['claimAddress1']}}<br/>
            {% else %}
              11 street<br/>
            {% endif %}

            {% if data['claimAddress2'] %}
              {{data['claimAddress2']}}<br/>
            {% else %}
              Heaton<br/>
            {% endif %}

            {% if data['claimAddress3'] %}
              {{data['claimAddress3']}}<br/>
            {% else %}
              Newcastle upon tyne<br/>
            {% endif %}

            {% if data['claimAddress4'] %}
              {{data['claimAddress4']}}<br/>
            {% else %}
              England<br/>
            {% endif %}

            {% if data['claimPostcode'] %}
              {{ data['claimPostcode'] }}
            {% else %}
              DL11C3
            {% endif %}
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-m">Alternative contact</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact name
          </dt>
          <dd class="govuk-summary-list__value">
            Bill Smith
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact phone number
          </dt>
          <dd class="govuk-summary-list__value">
            0798762889
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First point of contact
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-m">Flags</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Identify at risk
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Special customer record
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Identity Fraud Unit
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Special rules
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Alternative formats
          </dt>
          <dd class="govuk-summary-list__value">
            Large print
          </dd>
        </div>
      </dl>

    <form method="post" action="decision">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
