{% extends "user-testing-1/layouts/internal-layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <nav class="dwp-horizontal-navigation govuk-!-margin-bottom-5" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
          <li class="dwp-horizontal-navigation__item">
            <a id="s-item-1" href="claim" class="dwp-horizontal-navigation__link">Tasks</a>
          </li>
          <li class="dwp-horizontal-navigation__item">
            <a id="s-item-2" href="personal" class="dwp-horizontal-navigation__link">Personal</a>
          </li>
          <li class="dwp-horizontal-navigation__item">
            <a id="s-item-3" href="contact" class="dwp-horizontal-navigation__link">Contact</a>
          </li>
          {# <li class="dwp-horizontal-navigation__item">
            <a id="s-item-4" href="relationship" class="dwp-horizontal-navigation__link">Relationship</a>
          </li> #}
          {% if (data['claimFinalised'] == 'Yes') %}
            <li class="dwp-horizontal-navigation__item">
              <a id="s-item-5" href="decision" class="dwp-horizontal-navigation__link">Decision</a>
            </li>
            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
              <a id="s-item-6" href="payment" class="dwp-horizontal-navigation__link" aria-current="true">Payment</a>
            </li>
          {% endif %}
          <li class="dwp-horizontal-navigation__item">
            <a id="s-item-7" href="history" class="dwp-horizontal-navigation__link">History</a>
          </li>
        </ul>
      </nav>

      <h1 class="govuk-heading-m">Payment</h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First payment amount
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['paymentAmount'] %}
              £{{ data['paymentAmount'] }}
            {% else %}
              £220.80
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Payment day
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['paymentDay'] %}
              {{ data['paymentDay'] }}
            {% else %}
              Monday
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Frequency
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['paymentFrequency'] %}
              {{ data['paymentFrequency'] }}
            {% else %}
              Weekly
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First payment date
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['paymentFirstDate'] %}
              {{ data['paymentFirstDate'] }}
            {% else %}
              28 August 2025
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Weekly payment amount
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['paymentWeeklyAmount'] %}
              £{{ data['paymentWeeklyAmount'] }}
            {% else %}
              £110.40
            {% endif %}
          </dd>
        </div>
      </dl>

      <table class="govuk-table govuk-table--small-text-until-tablet">
        <caption class="govuk-table__caption govuk-table__caption--m">Payment history</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Issue date</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Period</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">22 September 2025</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Issued
              </strong>
            </td>
            <td class="govuk-table__cell">01 September 2025 to 28 September 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£295.50</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">22 August 2025</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Issued
              </strong>
            </td>
            <td class="govuk-table__cell">04 August 2025 to 31 August 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£295.50</td>
          </tr>
        </tbody>
      </table>

      {# <nav class="govuk-pagination" aria-label="Pagination">
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </nav> #}

      <h2 class="govuk-heading-m">Bank or building society</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sort code
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['bank-sort-code'] %}
              {{ data['bank-sort-code'] }}
            {% else %}
              00-11-00
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['bank-account-number'] %}
              {{ data['bank-account-number'] }}
            {% else %}
              1122334455
            {% endif %}
          </dd>
        </div>
        {% if data['bank-roll-number'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Roll number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['bank-roll-number'] }}
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Bank or building society details
          </dt>
          <dd class="govuk-summary-list__value">
            HSBC<br/>
            Local<br/>
            110 Grey St<br/>
            Newcastle upon Tyne<br/>
            NE1 6JG
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

{% endblock %}
