{% extends "layouts/internal-layout.html" %}

{% set pageName = "Enter an address" %}

{% block content %}

  <h1 class="govuk-heading-xl">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="../verify-claimant-details.html">
        <fieldset class="govuk-fieldset">
          <div class="govuk-form-group">
            <label class="govuk-label" for="claimantAddress1">
              Address line 1
            </label>
            <input class="govuk-input govuk-!-width-full" id="claimant-address-1" name="claimAddress1" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="claimAddress2">
              Address line 2 (optional)
            </label>
            <input class="govuk-input govuk-!-width-full" id="claimant-address-2" name="claimAddress2" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="claimAddress3">
              Address line 3
            </label>
            <input class="govuk-input govuk-!-width-full" id="claimant-address-3" name="claimAddress3" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="claimAddress4">
              Address line 4 (optional)
            </label>
            <input class="govuk-input govuk-!-width-full" id="claimant-address-4" name="claimAddress4" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="claimPostcode">
              Country
            </label>
            <input class="govuk-input govuk-input--width-20" id="claimant-postcode" name="claimPostcode" type="text">
          </div>
        </fieldset>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
