{% extends "iteration-1/layouts/internal-layout.html" %}
{% set showNav = "true" %}
{% set pageName = "Update claimant name" %}

{% block content %}
  
  
  

  <h1 class="govuk-heading-xl">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Update claimant name</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Details</span></th>
            <th scope="col" class="govuk-table__header">Claim data</th>
            <th scope="col" class="govuk-table__header">DWP records</th>
            <th scope="col" class="govuk-table__header">Matching status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">
              {% if data['claimFirstName'] or data['claimLastName'] %}
                {{data['claimFirstName']}} {{data['claimLastName']}}
              {% else %}
                James Smith
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if data['dwpData']['firstName'] and data['dwpData']['lastName'] %}
                {{data['dwpData']['firstName']}} {{data['dwpData']['lastName']}}
              {% else %}
                Jame Smith
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% 
                if 
                  (data['claimFirstName'] == data['dwpData']['firstName']) 
                and 
                  (data['claimLastName'] == data['dwpData']['lastName']) 
              %}
                <strong class="govuk-tag govuk-tag--green">
                  Match
                </strong>
              {% 
                elif not 
                  (data['claimFirstName']  == data['dwpData']['firstName']) 
                or not 
                  (data['claimLastName'] == data['dwpData']['lastName']) 
              %}
                <strong class="govuk-tag govuk-tag--red">
                  Unmatched
                </strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--red">
                  Error
                </strong>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <form method="post" action="../verify-claimant-details">
        <fieldset class="govuk-fieldset">
          <div class="govuk-form-group">
            <label class="govuk-label" for="claimFirstName">
              Enter a new first name
            </label>
            <input class="govuk-input govuk-input--width-20" id="claimant-firstname" name="claimFirstName" type="text">
          </div>
          <div class="govuk-form-group">   
            <label class="govuk-label" for="claimLastname">
              Enter a new last name
            </label>
            <input class="govuk-input govuk-input--width-20" id="claimant-lastname" name="claimLastname" type="text">
          </div>
        </fieldset>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
