{% extends "iteration-1/layouts/internal-layout.html" %}
{% set showNav = "true" %}
{% set pageName = "Change claimant phone number" %}

{% block content %}
  
  
  

  <h1 class="govuk-heading-xl">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">change claimant phone number</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Details</span></th>
            <th scope="col" class="govuk-table__header">Claim data</th>
            <th scope="col" class="govuk-table__header">DWP records</th>
            <th scope="col" class="govuk-table__header">Matching status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Phone number</th>
            <td class="govuk-table__cell">
              {% if data['claimMainContactNumber'] %}
                  {{data['claimMainContactNumber']}}
                {% else %}
                  0800001066
                {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if data['dwpData']['mainContactNumber'] %}
                  {{data['dwpData']['mainContactNumber']}}
                {% else %}
                  0800001066
                {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if (data['claimMainContactNumber'] == data['dwpData']['mainContactNumber']) %}
                <strong class="govuk-tag govuk-tag--green">
                  Match
                </strong>
              {% elif not (data['claimMainContactNumber'] == data['dwpData']['mainContactNumber']) %}
                <strong class="govuk-tag govuk-tag--red">
                  Unmatched
                </strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--red">
                  Error
                </strong>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <form method="post" action="../verify-claimant-details">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label" for="claimMainContactNumber">
              Enter a new phone number
            </label>
            <input class="govuk-input govuk-input--width-20" id="claimant-contact" name="claimMainContactNumber" type="text">
          </fieldset>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
