{% extends "layouts/internal-layout.html" %}

{% set pageName = "Update claimant postcode" %}

{% block content %}

  <h1 class="govuk-heading-l">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Update claimant postcode</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Details</th>
            <th scope="col" class="govuk-table__header">Claim data</th>
            <th scope="col" class="govuk-table__header">DWP records</th>
            <th scope="col" class="govuk-table__header">Matching status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Postcode</th>
            <td class="govuk-table__cell">
              {% if data['claimantPostcode'] %}
                {{ data['claimantPostcode'] }}
              {% elif data['claim']['claimFormData']['claimOverview']['address']['postcode'] %}
                {{ data['claim']['claimFormData']['claimOverview']['address']['postcode'] }}
              {% else %}
                DL11C3
              {% endif %}
            </td>
            <td class="govuk-table__cell">FR13 1EL</td>
            <td class="govuk-table__cell">
              {% if data['claimantPostcode'] %}
                <strong class="govuk-tag govuk-tag--yellow">
                  Updated
                </strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--green">
                  Match
                </strong>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <form method="post" action="../verify-claimant-details">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Enter a new claimant postcode
            </legend>
            <input class="govuk-input govuk-input--width-20" id="claimant-postcode" name="claimantPostcode" type="text">
          </fieldset>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
