{% extends "user-testing-3/layouts/internal-layout.html" %}
{% set pageName = "Enter an address" %}

{% block content %}

  <h1 class="govuk-heading-xl">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="address-start-date">
        <fieldset class="govuk-fieldset">
          <div class="govuk-form-group">
            <label class="govuk-label" for="claimAddress1">
              Address line 1
            </label>
            <input class="govuk-input govuk-!-width-full" id="claimant-address-1" name="claimAddress1" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="claimAddress2">
              Address line 2 (optional)
            </label>
            <input class="govuk-input govuk-!-width-full" id="claimant-address-2" name="claimAddress2" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="claimAddress3">
              Town or city
            </label>
            <input class="govuk-input govuk-input--width-20" id="claimant-address-3" name="claimAddress3" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="claimAddress4">
              County (optional)
            </label>
            <input class="govuk-input govuk-input--width-20" id="claimant-address-4" name="claimAddress4" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="claimPostcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="claimant-postcode" name="claimPostcode" type="text">
          </div>
        </fieldset>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
