{% extends "user-testing-3/layouts/internal-layout.html" %}

{% set pageName = "What is this address start date?" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="welsh-contact" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="claimAddressStart-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              
              <h1 class="govuk-fieldset__heading">
                {{ pageName }}
              </h1>
            </legend>
            <div id="claimAddressStart-hint" class="govuk-hint">
              For example, 31 3 1980
            </div>
            <div class="govuk-date-input" id="date-of-birth">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="claimAddressStartDD">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="claimAddressStartDD" name="claimAddressStartDD" type="text" autocomplete="receipt-day" inputmode="numeric" value="{{data['receipt-day']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="claimAddressStartMM">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="claimAddressStartMM" name="claimAddressStartMM" type="text" autocomplete="receipt-month" inputmode="numeric" value="{{data['receipt-month']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="claimAddressStartYYYY">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="claimAddressStartYYYY" name="claimAddressStartYYYY" type="text" autocomplete="receipt-year" inputmode="numeric" value="{{data['receipt-year']}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
