{% extends "version-1/layouts/internal-layout.html" %}

{% set pageName = "Does the claimant have a requested name?" %}

{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form method="post" action="requested-answer">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ pageName }}
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimHasRequestedName-1" name="claimHasRequestedName" type="radio" value="Yes" {{ checked('claimHasRequestedName','Yes') }}>
                <label class="govuk-label govuk-radios__label" for="claimHasRequestedName-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimHasRequestedName-2" name="claimHasRequestedName" type="radio" value="No" {{ checked('claimHasRequestedName','No') }}>
                <label class="govuk-label govuk-radios__label" for="claimHasRequestedName-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
