{% extends "version-1/layouts/internal-layout.html" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set pageName = "What is the claimant's nationality?" %}

{% set items = [] %}
{% for n in data.nationalities %}
  {% set items = (items.push({ text: n, value: n }), items) %}
{% endfor %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="check-your-answers" method="post" novalidate>
      {{ govukSelect({
        id: "claimNationality",
        name: "claimNationality",
        label: {
          text: pageName,
          isPageHeading: true,
	        classes: "govuk-label--l "
        },
        value: data.claimNationality,
        items: items
      }) }}
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
  </div>
</div>
{% endblock %}
