{% extends "version-1/layouts/internal-layout.html" %}

{% set pageName = "Enter the change of requested name start date" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="requested-name-answer" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="claimRequestedNameStartDate-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ pageName }}
              </h1>
            </legend>
            <div id="claimRequestedNameStartDate-hint" class="govuk-hint">
              For example, 31 3 1980
            </div>
            <div class="govuk-date-input" id="date-of-birth">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="claimRequestedNameStartDateDD">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="claimRequestedNameStartDateDD" name="claimRequestedNameStartDateDD" type="text" autocomplete="claimRequestedNameStartDateDD" inputmode="numeric" value="{{data['claimRequestedNameStartDateDD']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="claimRequestedNameStartDateMM">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="claimRequestedNameStartDateMM" name="claimRequestedNameStartDateMM" type="text" autocomplete="claimRequestedNameStartDateMM" inputmode="numeric" value="{{data['claimRequestedNameStartDateMM']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="claimRequestedNameStartDateYYYY">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="claimRequestedNameStartDateYYYY" name="claimRequestedNameStartDateYYYY" type="text" autocomplete="claimRequestedNameStartDateYYYY" inputmode="numeric" value="{{data['claimRequestedNameStartDateYYYY']}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
