{% extends "user-testing-3/layouts/internal-layout.html" %}
{% set pageName = "What is the exclusion end date?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" action="exclusion-reason">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="exclusion-end-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ pageName }}
              </h1>
            </legend>
            <div id="exclusion-end-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="exclusion-end-hint">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="exclusion-end-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="exclusion-end-day" name="exclusion-end-day" type="text" inputmode="numeric" value="{{data['exclusion-end-day']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="exclusion-end-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="exclusion-end-month" name="exclusion-end-month" type="text" inputmode="numeric" value="{{data['exclusion-end-month']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="exclusion-end-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="exclusion-end-year" name="exclusion-end-year" type="text" inputmode="numeric" value="{{data['exclusion-end-year']}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
