{% extends "layouts/header.html" %}

{% block beforeContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-5">
        {{ dwpQuickReference({
            ariaLabel: "Case information",
            primaryReference: {
                text: 'Name:',
                value: 'John Doe'
            },
            secondaryReference: {
                text: 'National Insurance number:',
                value: 'QQ 12 34 56 X'
            }
        })}}

        {{ govukBackLink({
          text: "Back",
          href: "/sc2/trace/enter-name.html"
        }) }}
    </div>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      
      {{ govukCharacterCount({
        name: "nameReasons",
        id: "name-reasons",
        maxlength:2000,
        label: {
          text: "Add reasons for changing the claimant's full name",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Enter more information about this event."
        }
      }) }}

      <form action="/namereasons" method="POST">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>
{% endblock %}
