{% extends "version-1/layouts/internal-layout.html" %}
{% set pageName = "Check your answers" %}

{% block content %}
  
  <h1 class="govuk-heading-xl">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Claim details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claim received
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (
              data['claimreceiptDD'] and
              data['claimreceiptMM'] and
              data['claimreceiptYYYY'] 
              ) 
            %}
              {{ data['claimreceiptDD'] }}
              {{ data['claimreceiptMM'] | monthName }}
              {{ data['claimreceiptYYYY'] }}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="receipt-date">Change<span class="govuk-visually-hidden"> receipt date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claim effective from
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (
              data['claimEffectiveDD'] and
              data['claimEffectiveMM'] and
              data['claimEffectiveYYYY'] 
              ) 
            %}
              {{ data['claimEffectiveDD'] }}
              {{ data['claimEffectiveMM'] | monthName }}
              {{ data['claimEffectiveYYYY'] }}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="effective-date">Change<span class="govuk-visually-hidden"> effective date</span></a>
          </dd>
        </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Flags
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['claimFlags'] %}
                {{data['claimFlags']}}<br/>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="flags">Change<span class="govuk-visually-hidden"> flags</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the claimant requested any alternative formats?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['claimHaveAlternativeFlags'] %}
                {{data['claimHaveAlternativeFlags']}}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="have-alternative-formats">Change<span class="govuk-visually-hidden"> have alternative formats</span></a>
            </dd>
          </div>
          {% if data['claimHaveAlternativeFlags'] == "Yes" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Alternative format required
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['claimAlternativeFlags'] %}
                  {{data['claimAlternativeFlags']}}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="alternative-formats">Change<span class="govuk-visually-hidden"> alternative formats</span></a>
              </dd>
            </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Suppress acknowledgement
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['claimSuppress'] %}
                {{ data['claimSuppress'] }}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="suppress">Change<span class="govuk-visually-hidden"> suppress acknowledgement</span></a>
            </dd>
          </div>
      </dl>

      <form method="post" action="../task-list">
        <input class="govuk-input govuk-visually-hidden" id="taskClaimStatus" name="taskClaimStatus" type="text" value="Complete">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
