{% extends "user-testing-1/layouts/internal-layout.html" %}
{% set hideRef = "true" %}
{% set pageName = "Entitlement period" %}

{% block content %}
  
  
  <span class="govuk-caption-l">Decision</span>
  <h1 class="govuk-heading-xl">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" action="../entitlement-periods">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="entitlement-start-hint">
            <legend class="govuk-fieldset__legend">
              Start date
            </legend>
            <div id="entitlement-start-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="entitlement-start-hint">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="entitlement-start-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="entitlement-start-day" name="entitlement-start-day" type="text" inputmode="numeric" value="{{data['entitlement-start-day']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="entitlement-start-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="entitlement-start-month" name="entitlement-start-month" type="text" inputmode="numeric" value="{{data['entitlement-start-month']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="entitlement-start-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="entitlement-start-year" name="entitlement-start-year" type="text" inputmode="numeric" value="{{data['entitlement-start-year']}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="entitlement-end-hint">
            <legend class="govuk-fieldset__legend">
              Start date
            </legend>
            <div id="entitlement-end-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="entitlement-end-hint">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="entitlement-end-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="entitlement-end-day" name="entitlement-end-day" type="text" inputmode="numeric" value="{{data['entitlement-end-day']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="entitlement-end-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="entitlement-end-month" name="entitlement-end-month" type="text" inputmode="numeric" value="{{data['entitlement-end-month']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="entitlement-end-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="entitlement-end-year" name="entitlement-end-year" type="text" inputmode="numeric" value="{{data['entitlement-end-year']}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
              What is the entitlement rate?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="entitledRate" name="entitledRate" type="radio" value="Higher" {{ checked('entitledRate','Higher') }}>
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Higher
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="entitledRate-2" name="entitledRate" type="radio" value="Lower" {{ checked('entitledRate','Lower') }}>
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  Lower
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="entitledRate-3" name="entitledRate" type="radio" value="Not entitled" {{ checked('entitledRate','Not entitled') }}>
                <label class="govuk-label govuk-radios__label" for="entitledRate-3">
                  Not entitled
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="entitlementReason">
            Entitlement reason
          </label>
          <select class="govuk-select" id="sort" name="entitlementReason" >
            <option value="" selected>Select an option</option>
            <option value="Missing SR1">Missing SR1</option>
            <option value="Claimant has died">Claimant has died</option>
            <option value="Does not meet eligiblity">Does not meet eligiblity</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
