{% extends "user-testing-1/layouts/internal-layout.html" %}
{% set pageName = "What is the entitlement rate?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="entitlement-reason">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ pageName }}
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="entitledRate" name="entitledRate" type="radio" value="Higher" {{ checked('entitledRate','Higher') }}>
                <label class="govuk-label govuk-radios__label" for="entitledRate">
                  Higher
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="entitledRate-2" name="entitledRate" type="radio" value="Lower" {{ checked('entitledRate','Lower') }}>
                <label class="govuk-label govuk-radios__label" for="entitledRate-2">
                  Lower
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="entitledRate-2" name="entitledRate" type="radio" value="Not entitled" {{ checked('entitledRate','Not entitled') }}>
                <label class="govuk-label govuk-radios__label" for="entitledRate-2">
                  Not entitled
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
