{% extends "layouts/header.html" %}

{% block beforeContent %}

<!-- Quick reference and task outstanding tag -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-5">

      {% set tasksOutstanding = {
        value: 'Task outstanding',
        classes: "govuk-tag--red"
        
      } %}

        {{ dwpQuickReference({
            ariaLabel: "Case information",
            primaryReference: {
                text: 'Name:',
                value: 'John Doe'
            },
            secondaryReference: {
                text: 'National Insurance number:',
                value: 'QQ 12 34 56 X'
            },
            status: (none if awarded == true else tasksOutstanding)
        })}}
    </div>

    <!-- horizontal nav -->
    {% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}

    <div class="govuk-grid-column-full">

      {{dwpHorizontalNavigation({
        selectedItem: "/sc1/award-summary.html",
        items: [
          {
            text: "Tasks",
            href: "/sc1/tasks.html",
            id: "l-item-1"
          },
          {
            text: "Personal details",
            href: "/sc1/personal-details.html",
            id: "l-item-2"
          },
          {
            text: "sc1 details",
            href: "/sc1/claim-details.html",
            id: "l-item-3"
          },
          {
            text: "Documents",
            href: "/sc1/documents.html",
            id: "l-item-4"
          },
          {
            text: "Timeline",
            href: "/sc1/timeline.html",
            id: "l-item-5"
          },
          {
            text: "Award",
            href: "/sc1/award-summary.html",
            id: "l-item-6"
          }
        ]
      })}}
    </div>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    {% from "govuk/components/table/macro.njk" import govukTable %}

    {{ govukTable({
      caption: "Award overview",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: "Start date"
          },
          {
            text: "18 November 2024"
          }
        ],
        [
          {
            text: "End date"
          },
          {
            text: "17 November 2027"
          }
        ],
        [
          {
            text: "Benefit type"
          },
          {
            text: "Special Rules - Higher Rate"
          }
        ],
        [
          {
            text: "Frequency of payments"
          },
          {
            text: "Weekly"
          }
        ],
        [
          {
            text: "Amount before deductions"
          },
          {
            text: "£108.55"
          }
        ],
        [
          {
            text: "Payability"
          },
          {
            text: "None"
          }
        ],
        [
          {
            text: "Deductions"
          },
          {
            text: "None"
          }
        ]
      ]
    }) }}
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    {% from "govuk/components/tabs/macro.njk" import govukTabs %}
    {% from "govuk/components/table/macro.njk" import govukTable %}

    {% set nextPaymentHtml %}
    {{ govukTable({
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: "Residential address"
          },
          {
            text: "Flat 12, 187 Brixton Street, Waterloo, London, SE1 5TU"
          }
        ],
        [
          {
            text: "Correspondence address"
          },
          {
            text: "Flat 12, 187 Brixton Street, Waterloo, London, SE1 5TU"
          }
        ],
        [
          {
            text: "Phone number"
          },
          {
            text: "07771234567"
          }
        ],
        [
          {
            text: "Alternative phone number"
          },
          {
            text: "None"
          }
        ]
      ]
    }) }}
    {% endset -%}

    {% set paymentHistoryHtml %}

    {% from "govuk/components/table/macro.njk" import govukTable %}

      {{ govukTable({
        caption: "Payment history",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: "Due date"
          },
          {
            text: "Status"
          },
          {
            text: "Award"
          },
          {
            text: "Deductions"
          },
          {
            text: "Amount"
          }
        ],
          rows: [
          [
          {
            text: "27 January 2025"
          },
          {
            text: "Issued"
          },
          {
            text: "£108.55"
          },
          {
            text: "£0.00"
          },
          {
            text: "£108.55"
          }
          ],  
          [
            {
              text: "20 January 2025"
            },
            {
              text: "Issued"
            },
            {
              text: "£108.55"
            },
            {
              text: "£0.00"
            },
            {
              text: "£108.55"
            }
          ],
          [
            {
              text: "13 January 2025"
            },
            {
              text: "Issued"
            },
            {
              text: "£108.55"
            },
            {
              text: "£0.00"
            },
            {
              text: "£108.55"
            }
          ],
          [
            {
              text: "6 January 2025"
            },
            {
              text: "Issued"
            },
            {
              text: "£108.55"
            },
            {
              text: "£0.00"
            },
            {
              text: "£108.55"
            }
          ],
          [
            {
              text: "30 December 2024"
            },
            {
              text: "Issued"
            },
            {
              text: "£108.55"
            },
            {
              text: "£0.00"
            },
            {
              text: "£108.55"
            }
          ],
          [
            {
              text: "23 December 2024"
            },
            {
              text: "Issued"
            },
            {
              text: "£108.55"
            },
            {
              text: "£0.00"
            },
            {
              text: "£108.55"
            }
          ],
          [
            {
              text: "16 December 2024"
            },
            {
              text: "Issued"
            },
            {
              text: "£108.55"
            },
            {
              text: "£0.00"
            },
            {
              text: "£108.55"
            }
          ],
          [
            {
              text: "9 December 2024"
            },
            {
              text: "Issued"
            },
            {
              text: "£108.55"
            },
            {
              text: "£0.00"
            },
            {
              text: "£108.55"
            }
          ],
          [
            {
              text: "2 December 2024"
            },
            {
              text: "Issued"
            },
            {
              text: "£108.55"
            },
            {
              text: "£0.00"
            },
            {
              text: "£108.55"
            }
          ],
          [
            {
              text: "25 November 2024"
            },
            {
              text: "Issued"
            },
            {
              text: "£108.55"
            },
            {
              text: "£0.00"
            },
            {
              text: "£108.55"
            }
          ]
        ]
      }) }}

      {% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    }
  ]
}) }}

    {% endset -%}

    {{ govukTabs({
      items: [
        {
          label: "Next payment",
          id: "next-payment",
          panel: {
            html: nextPaymentHtml
          }
        },
        {
          label: "Payment history",
          id: "payment-history",
          panel: {
            html: paymentHistoryHtml
          }
        }
      ]
    }) }}
    

  </div>

  

</div>
{% endblock %}
