{% extends "layouts/header.html" %}

{% block beforeContent %}

<!-- Quick reference and task outstanding tag -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-5">

      {% set tasksOutstanding = {
        value: 'Task outstanding',
        classes: "govuk-tag--red"
        
      } %}

        {{ dwpQuickReference({
            ariaLabel: "Case information",
            primaryReference: {
                text: 'Name:',
                value: 'John Doe'
            },
            secondaryReference: {
                text: 'National Insurance number:',
                value: 'QQ 12 34 56 X'
            },
            status: (none if awarded == true else tasksOutstanding)
        })}}
    </div>

    <!-- horizontal nav -->
    {% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}

    <div class="govuk-grid-column-full">

      {{dwpHorizontalNavigation({
        selectedItem: "/claim/timeline.html",
        items: [
          {
            text: "Tasks",
            href: "/claim/tasks.html",
            id: "l-item-1"
          },
          {
            text: "Personal details",
            href: "/claim/personal-details.html",
            id: "l-item-2"
          },
          {
            text: "Claim details",
            href: "/claim/claim-details.html",
            id: "l-item-3"
          },
          {
            text: "Documents",
            href: "/claim/documents.html",
            id: "l-item-4"
          },
          {
            text: "Timeline",
            href: "/claim/timeline.html",
            id: "l-item-5"
          },
          {
            text: "Award",
            href: "/claim/award-summary.html",
            id: "l-item-6"
          }
        ]
      })}}
    </div>
</div>

{% endblock %}

{% block footer %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}
    {{
        dwpFooter({
            meta: {
                visuallyHiddenTitle: "About this website",
                items: [
                {
                    href: "",
                    text: "Accessibility statement"
                },
                {
                    href: "",
                    text: "Privacy"
                }
                ]
            }
        }) 
    }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {% from "timeline/macro.njk" import dwpTimeline %}

      <h1 class="govuk-heading-m">Timeline</h1>
      {{ govukButton({
        text: "Add a new event",
        href: "/claim/timeline/add-event.html",
        classes: "govuk-button--primary"})
      }}
      
      {{
          dwpTimeline({ 
              items: [
                  {
                      title:  "Completed ‘DP224JP’ form received",
                      byline:  "System",
                      date:  "16 June 2024 at 1:00am"
                  },
                
                  {
                      title:  "Summary of report including recommendations, suppliers and costs sent to claimant",
                      byline:  "John Goldsmith",
                      date:  "1 June 2024 at 7:14am"
                  },
                  {
                      title:  "Workplace assessment report",
                      byline:  "John Goldsmith",
                      link: {
                          href: "#",
                          text: "View details",
                          visuallyHiddenText: "of the event on 15 May 2024 at 4:01pm"
                      },
                      date:  "15 May 2024 at 4:01pm"
                  },
                
                
                  {
                      title:  "Workplace assessment",
                      byline:  "John Goldsmith",
                      description: {
                          text: "Agreed with the claimant that a workplace assessment is required and confirmed assessor visit on 5 May 2024 at 9:45am – confirmation letter sent"
                      },
                      date:  "26 April 2024 at 12:42pm"
                  },
                
                
                  {
                      title:  "Update to: Health condition or disability",
                      byline:  "Jane Doe",
                      link: {
                          href: "#",
                          text: "View details",
                          visuallyHiddenText: "of the event on 21 April 2024 at 1:12pm"
                      },
                      date:  "21 April 2024 at 1:12pm"
                  },
                  {
                      title:  "Telephone call made",
                      byline:  "Jane Doe",
                      description: {
                          text: "A telephone call was made to the claimant requesting further information to support the claim"
                      },
                      link: {
                          href: "#",
                          text: "View details",
                          visuallyHiddenText: "of the event on 21 April 2024 at 10:15am"
                      },
                      date:  "21 April 2024 at 10:15am"
                  },
                  {
                      title:  "Text message (SMS) sent",
                      byline:  "Jane Doe",
                      description: {
                          text: "SMS was sent to the claimant to inform them that we require further information and will be in contact on 21 April 2024"
                      },
                      date:  "19 April 2024 at 10:58am"
                  },
              
              
                  {
                      title:  "Health condition or disability ",
                      byline:  "Jane Doe",
                      description: {
                          text: "Contact needed for more information"
                      },
                      date:  "16 April 2024 at 9:00am"
                  },
                
                  {
                      title:  "Check personal details and add National Insurance number task",
                      byline:  "Jane Doe",
                      date:  "28 March 2024 at 9:12am"
                  },
                  {
                      title:  "Application received",
                      date:  "12 March 2024 at 3:00pm"
                  }
          ]
          })
      }}
      
    </div>
  </div>
{% endblock %}
