{% extends "layouts/header.html" %}

{% block beforeContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-5">
        {{ dwpQuickReference({
            ariaLabel: "Case information",
            primaryReference: {
                text: 'Name:',
                value: 'John Doe'
            },
            secondaryReference: {
                text: 'National Insurance number:',
                value: 'QQ 12 34 56 X'
            }
        })}}

        {{ govukBackLink({
          text: "Back",
          href: "/claim/tasks.html"
        }) }}
    </div>
</div>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <span class="govuk-caption-m">Verification</span>

          <h2 class="govuk-heading-l">Trace unmatched data</h2>
    
    
          {% set completedStatus = {
            text: "Completed"
          } %}
    
          {% set incompleteStatus = {
            tag: {
              text: "Not yet started",
              classes: "govuk-tag--blue"
            }
          } %}
    
          {% set blockedStatus = {
            text: "Cannot start yet",
            classes: "govuk-task-list__status--cannot-start-yet"
            }
          %}
    
          {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}
          {{ govukTaskList({
            idPrefix: "first-section",
            items: [
              {
                title: {
                  text: "Full name"
                },
                href: "/sc2/trace/trace-name.html",
                status: (completedStatus if verify == true else incompleteStatus) 
              },
              {
                title: {
                  text: "Address"
                },
                href: "/sc2/trace/trace-address.html",
                status: (completedStatus if verify == true else incompleteStatus) 
              },
              {
                title: {
                  text: "Date of birth"
                },
                href: "/sc2/trace/trace-dob.html",
                status: (completedStatus if verify == true else incompleteStatus)
              }
            ]
          }) }}
    
          
          <div class="govuk-!-margin-top-5">
            {{ govukButton({
              text: "Continue",
              href: "/sc2/verify-cya.html",
              classes: "govuk-button--primary"})
            }}
          </div>
        </div>
      </div>

{% endblock %}
