{% extends "layouts/header.html" %}

{% block beforeContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-5">
        {{ dwpQuickReference({
            ariaLabel: "Case information",
            primaryReference: {
                text: 'Name:',
                value: 'John Doe'
            },
            secondaryReference: {
                text: 'National Insurance number:',
                value: 'QQ 12 34 56 X'
            }
        })}}

        {{ govukBackLink({
          text: "Back",
          href: "/claim/tasks.html"
        }) }}
    </div>
</div>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  
        <h1 class="govuk-heading-l">Review data changes</h1>
  
        <h2 class="govuk-heading-m">Full name</h2>
  
        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: {
                text: "Old claim data"
              },
              value: {
                text: "John Stephen Doe"
              }
            },
            {
              key: {
                text: "New claim data"
              },
              value: {
                text: "{{ data['full-name'] }}"
              },
              actions: {
                items: [
                  {
                    href: "/sc2/trace/enter-name",
                    text: "Change",
                    visuallyHiddenText: "change name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Reasons provided"
              },
              value: {
                text: ""
              },
              actions: {
                items: [
                  {
                    href: "/sc2/trace/name-reasons",
                    text: "Change",
                    visuallyHiddenText: "change name reasons"
                  }
                ]
              }
            }
          ]
        }) }}
  
        <h2 class="govuk-heading-m">Address</h2>
  
        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: {
                text: "Old claim data"
              },
              value: {
                html: "<p>Flat 12<br>187 Brixton Street<br>Waterloo<br>SE1 5TU</p>"
              }
            },
            {
              key: {
                text: "New claim data"
              },
              value: {
                text: ""
              },
              actions: {
                items: [
                  {
                    href: "/sc2/trace/enter-name",
                    text: "Change",
                    visuallyHiddenText: "change name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Reasons provided"
              },
              value: {
                text: ""
              },
              actions: {
                items: [
                  {
                    href: "/sc2/trace/name-reasons",
                    text: "Change",
                    visuallyHiddenText: "change name reasons"
                  }
                ]
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Date of birth</h2>
  
        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: {
                text: "Old claim data"
              },
              value: {
                text: "30 July 1960"
              }
            },
            {
              key: {
                text: "New claim data"
              },
              value: {
                text: ""
              },
              actions: {
                items: [
                  {
                    href: "/sc2/trace/enter-name",
                    text: "Change",
                    visuallyHiddenText: "change name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Reasons provided"
              },
              value: {
                text: ""
              },
              actions: {
                items: [
                  {
                    href: "/sc2/trace/name-reasons",
                    text: "Change",
                    visuallyHiddenText: "change name reasons"
                  }
                ]
              }
            }
          ]
        }) }}
  
        <form action="/form-handler" method="post" novalidate>
  
          <input type="hidden" name="answers-checked" value="true">
  
          {{ govukButton({
            text: "Confirm changes"
          }) }}
  
        </form>
  
      </div>
    </div>

{% endblock %}
