{% extends "iteration-1/layouts/internal-layout.html" %}

{% set pageName = "Award" %}

{% block content %}
  
  <h1 class="govuk-heading-xl">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Award status
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['awardStatus'] == 'Disallowed' %}
              <strong class="govuk-tag govuk-tag--red">
                Disallowed
              </strong>
            {% else %}
              <strong class="govuk-tag govuk-tag--green">
                Allowed
              </strong>
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Primary health condition or disability
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['primaryHealth'] %}
              {{ primaryHealth }}
            {% else %}
              Special rules
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Secondary health condition or disability
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['secondaryDisability'] %}
              {{ data['secondaryDisability'] }}
            {% else %}
              Lung cancer
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="health-condition-disablity">Change<span class="govuk-visually-hidden"> health condition or disability</span></a>
          </dd>
        </div>
      </dl>

      <table class="govuk-table govuk-table--small-text-until-tablet">
        <caption class="govuk-table__caption govuk-table__caption--m">Entitlement periods</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Start date</th>
            <th scope="col" class="govuk-table__header">End date</th>
            <th scope="col" class="govuk-table__header">Rate</th>
            <th scope="col" class="govuk-table__header">Reason</th>
            <th scope="col" class="govuk-table__header">
              <span class="govuk-visually-hidden">Action</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              {% if data['entitlement-start-day'] %}
                {{ data['entitlement-start-day'] }}
              {% else %}
                20 
              {% endif %}
              {% if data['entitlement-start-month'] %}
                {{ data['entitlement-start-month'] | monthName }} 
              {% else %}
                August 
              {% endif %}
              {% if data['entitlement-start-year'] %}
                {{ data['entitlement-start-year'] }}
              {% else %}
                2025
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if data['entitlement-end-day'] %}
                {{ data['entitlement-end-day'] }}
              {% else %}
                20 
              {% endif %}
              {% if data['entitlement-end-month'] %}
                {{ data['entitlement-end-month'] | monthName }} 
              {% else %}
                August 
              {% endif %}
              {% if data['entitlement-end-year'] %}
                {{ data['entitlement-end-year'] }}
              {% else %}
                2028
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if data['entitledRate'] %}
                {{ data['entitledRate'] }}
              {% else %}
                Reasoning
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if data['entitlementReason'] %}
                {{ data['entitlementReason'] }}
              {% else %}
                Reasoning
              {% endif %}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="award/add-entitlement"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change row 1</span></a></li>
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="award/delete-entitlement"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove row 1</span></a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <form method="post" action="award/add-entitlement">
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add entitlement
        </button>
      </form>

      <table class="govuk-table govuk-table--small-text-until-tablet">
        <caption class="govuk-table__caption govuk-table__caption--m">Exclusion periods</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Start date</th>
            <th scope="col" class="govuk-table__header">End date</th>
            <th scope="col" class="govuk-table__header">Reason</th>
            <th scope="col" class="govuk-table__header">
              <span class="govuk-visually-hidden">Action</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              {% if data['exclusion-start-day'] %}
                {{ data['exclusion-start-day'] }}
              {% else %}
                20 
              {% endif %}
              {% if data['exclusion-start-month'] %}
                {{ data['exclusion-start-month'] | monthName }} 
              {% else %}
                July 
              {% endif %}
              {% if data['exclusion-start-year'] %}
                {{ data['exclusion-start-year'] }}
              {% else %}
                2025
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if data['exclusion-end-day'] %}
                {{ data['exclusion-end-day'] }}
              {% else %}
                19 
              {% endif %}
              {% if data['exclusion-end-month'] %}
                {{ data['exclusion-end-month'] | monthName }} 
              {% else %}
                August 
              {% endif %}
              {% if data['exclusion-end-year'] %}
                {{ data['exclusion-end-year'] }}
              {% else %}
                2025
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if data['exclusion-reason'] %}
                {{ data['exclusion-reason'] }}
              {% else %}
                Reason
              {% endif %}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="award/add-exclusion"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change row 1</span></a></li>
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="award/delete-exclusion"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove row 1</span></a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <form method="post" action="award/add-exclusion">
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add exclusion
        </button>
      </form>

      <form method="post" action="./reason-for-decision">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
