{% extends "layouts/internal-layout.html" %}
{% set hideRef = "true" %}
{% set pageName = "Claimant details" %}

{% block content %}
  
  
  <!-- <span class="govuk-caption-xl">Pedro Pascal</span> -->
  <h1 class="govuk-heading-l">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            AB123456C
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Jon Bonjovi
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            13 April 1951
          </dd>
        </div>
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            11 Elm Street<br/>
            Hollywood<br/>
            FR13 1EL
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            0700001066
          </dd>
        </div> -->
      </dl>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form AA-results-filter" method="post" action="#">
        <div class="govuk-form-group">
          <label class="govuk-label" for="results-sort">
            Sort by
          </label>
          <select class="govuk-select" id="results-sort" name="results-sort">
            <option value="claimAZ" selected>Claim reference: A to Z</option>
            <option value="claimZA">Claim reference: Z to A</option>
            <option value="createdNO">Date created: newest to oldest</option>
            <option value="createdON">Date created: oldest to newest</option>
            <option value="DueNO">Due date: newest to oldest</option>
            <option value="DueON">Due date: oldest to newest</option>
          </select>
        </div>

        <div class="AA-results-buttons topMargin">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Apply
          </button>
        </div>
      </form>
    </div>
    <div class="govuk-grid-column-full">
        <table class="govuk-table govuk-table--small-text-until-tablet">
          <caption class="govuk-table__caption govuk-table__caption--m">Claims</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date created</th>
              <th scope="col" class="govuk-table__header">Case type</th>
              <th scope="col" class="govuk-table__header">Case status</th>
              <th scope="col" class="govuk-table__header">
                <span class="govuk-visually-hidden">Action</span>
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">17 August 2025</td>
              <td class="govuk-table__cell">SR1</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Open
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="claim-details">View <span class="govuk-visually-hidden">claimant details</span></a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">11 July 2025</td>
              <td class="govuk-table__cell">SR1</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Closed
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="claim-details">View <span class="govuk-visually-hidden">claimant details</span></a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">7 July 2022</td>
              <td class="govuk-table__cell">SR1</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Closed
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="claim-details">View <span class="govuk-visually-hidden">claimant details</span></a>
              </td>
            </tr>
          </tbody>
        </table>
        <nav class="govuk-pagination" aria-label="Pagination">
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
    </div>
  </div>

{% endblock %}
