{% extends "layouts/internal-layout.html" %}

{% set pageName = "Claim details" %}

{% block content %}
  

  
  
  <h1 class="govuk-heading-xl">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#claim-task">
              Tasks
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#form-details">
              Form details
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#personal-details">
              Personal details
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#claim-history">
              History
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#claim-documents">
              Documents
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#claim-awards">
              Awards
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="claim-task">
          <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="verify-claimant-details" aria-describedby="claim-tasks-1-status">
                  Verify claimant details
                </a>
              </div>
              <div class="govuk-task-list__status" id="claim-tasks-1-status">
                {% if (data['taskVerifyStatus'] == 'complete') %}
                  Completed
                {% elseif (data['taskVerifyStatus'] == 'inprogress') %}
                  <strong class="govuk-tag govuk-tag--green">
                    Inprogress
                  </strong>
                {% else %}
                  <strong class="govuk-tag govuk-tag--blue">
                    Incomplete
                  </strong>
                {% endif %}
              </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="eligibility" aria-describedby="claim-tasks-2-status">
                  Check eligibility 
                </a>
              </div>
              <div class="govuk-task-list__status" id="claim-tasks-2-status">
                {% if (data['taskEligibilityStatus'] == 'yes') %}
                  <strong class="govuk-tag govuk-tag--blue">
                    Completed
                  </strong>
                {% elseif (data['taskEligibilityStatus'] == 'inprogress') %}
                  <strong class="govuk-tag govuk-tag--green">
                    Inprogress
                  </strong>
                {% else %}
                  <strong class="govuk-tag govuk-tag--red">
                    Fail
                  </strong>
                {% endif %}
              </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="claim-tasks-3-hint claim-tasks-3-status">
                  Decision
                </a>
              </div>
              <div class="govuk-task-list__status" id="claim-tasks-3-status">
                <strong class="govuk-tag govuk-tag--blue">
                  {% if (data['taskDecisionStatus'] == 'complete') %}
                    Completed
                  {% elseif (data['taskDecisionStatus'] == 'inprogress') %}
                    <strong class="govuk-tag govuk-tag--green">
                      Inprogress
                    </strong>
                  {% else %}
                    <strong class="govuk-tag govuk-tag--blue">
                      Incomplete
                    </strong>
                  {% endif %}
                </strong>
              </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="claim-tasks-4-status">
                  Payments
                </a>
              </div>
              <div class="govuk-task-list__status" id="claim-tasks-4-status">
                <strong class="govuk-tag govuk-tag--blue">
                  {% if (data['taskPaymentsStatus'] == 'complete') %}
                    Completed
                  {% elseif (data['taskPaymentsStatus'] == 'inprogress') %}
                    <strong class="govuk-tag govuk-tag--green">
                      Inprogress
                    </strong>
                  {% else %}
                    <strong class="govuk-tag govuk-tag--blue">
                      Incomplete
                    </strong>
                  {% endif %}
                </strong>
              </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="claim-tasks-5-status">
                  Awards
                </a>
              </div>
              <div class="govuk-task-list__status" id="claim-tasks-5-status">
                <strong class="govuk-tag govuk-tag--blue">
                  {% if (data['taskAwardStatus'] == 'complete') %}
                    Completed
                  {% elseif (data['taskAwardStatus'] == 'inprogress') %}
                    <strong class="govuk-tag govuk-tag--green">
                      Inprogress
                    </strong>
                  {% else %}
                    <strong class="govuk-tag govuk-tag--blue">
                      Incomplete
                    </strong>
                  {% endif %}
                </strong>
              </div>
            </li>
          </ul>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-details">
          <h3 class="govuk-heading-l">Special rules for end of life</h3>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                12 months to live?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Has doctor/nurse completed SR1 form?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Has doctor/nurse sent SR1 form to DWP?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
          </dl>
          <h3 class="govuk-heading-l">Care home, hospital or similar place</h3>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Currently in hospital, care home or hospice?
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Overnight stay in a care home, hospital or hospice in last 6 weeks?
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
          </dl>
          <h3 class="govuk-heading-l">Health information</h3>
          <dl class="govuk-summary-list">
            <h4 class="govuk-heading-m">Health conditions and disabilities</h4>
            <h5 class="govuk-heading-s">Bladder cancer</h5>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Start date
              </dt>
              <dd class="govuk-summary-list__value">
                2020 
              </dd>
            </div>
            <h4 class="govuk-heading-m govuk-!-margin-top-5">Other health information</h4>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other treatment or waiting for surgery?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                About treatment or surgery
              </dt>
              <dd class="govuk-summary-list__value">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </dd>
            </div>
            <h4 class="govuk-heading-m govuk-!-margin-top-5">Healthcare professionals</h4>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Consent given for information sharing
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                GP surgery or medical centre
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name of GP
              </dt>
              <dd class="govuk-summary-list__value">
                John Smith
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                GP phone number
              </dt>
              <dd class="govuk-summary-list__value">
                01613456689
              </dd>
            </div>
            <h3 class="govuk-heading-l govuk-!-margin-top-5">Eligibility</h3>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Moved from Scotland since 21 October 2024
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['claimHaveYouMovedFromScotland'] %}
                  {{data['claimHaveYouMovedFromScotland']}}
                {% else %}
                  No
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Been outside UK for more than 12 months in last 2 years
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['claimOutsideUKDuration'] %}
                  {{data['claimOutsideUKDuration']}}
                {% else %}
                  No
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Pension or benefits from EEA state
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['claimCountryOutsideUKBenefits'] %}
                  {{data['claimCountryOutsideUKBenefits']}}
                {% else %}
                  No
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Working or paying insurance in EEA state
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['claimCountryOutsideUKWorking'] %}
                  {{data['claimCountryOutsideUKWorking']}}
                {% else %}
                  No
                {% endif %}
              </dd>
            </div>
          </dl>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="personal-details">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                First name
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['ClaimfirstName'] %}
                  {{data['ClaimfirstName']}}
                {% else %}
                  James
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Last name
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['claimLastName'] %}
                  {{data['claimLastName']}}
                {% else %}
                  Smith
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {% 
                if (
                data['dateOfBirthDD'] and
                data['dateOfBirthMM'] and
                data['dateOfBirthYYYY'] 
                ) 
              %}
                {{ data['claimDateOfBirthDD'] }}
                {{ data['claimDateOfBirthMM'] | monthName }}
                {{ data['claimDateOfBirthYYYY'] }}
              {% else %}
                13 April 1958
              {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Home address
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['claimAddress1'] %}
                  {{data['claimAddress1']}},<br/>
                {% else %}
                  11 street,<br/>
                {% endif %}

                {% if data['claimAddress2'] %}
                  {{data['claimAddress2']}},<br/>
                {% else %}
                  Heaton,<br/>
                {% endif %}

                {% if data['claimAddress3'] %}
                  {{data['claimAddress3']}},<br/>
                {% else %}
                  Newcastle upon tyne,<br/>
                {% endif %}

                {% if data['claimAddress4'] %}
                  {{data['claimAddress4']}},<br/>
                {% else %}
                  England,<br/>
                {% endif %}

                {% if data['claimPostcode'] %}
                  {{ data['claimPostcode'] }}
                {% else %}
                  DL11C3
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['claimMainContactNumber'] %}
                  {{data['claimMainContactNumber']}}
                {% else %}
                  0800001066
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other benefits
              </dt>
              <dd class="govuk-summary-list__value">
                {% for benefit in data['claimOtherBenefits'] %}
                  {{ benefit }}
                {% else %}
                  None
                {% endfor %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Nationality
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['claimNationality'] %}
                  {{data['claimNationality']}}
                {% else %}
                  British
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Country
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['claimWhereDoYouLive'] %}
                  {{data['claimWhereDoYouLive']}}
                {% else %}
                  England
                {% endif %}
              </dd>
            </div>
          </dl>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claim-history">
          <p class="govuk-body">Example</p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claim-documents">
          <p class="govuk-body">Example</p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claim-awards">
          <p class="govuk-body">Example</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
