{% extends "iteration-1/layouts/internal-layout.html" %}
{% set hideRef = "true" %}
{% set pageName = "Search for bank/building society account" %}

{% block content %}
  
  
  <!-- <span class="govuk-caption-xl">Pedro Pascal</span> -->
  <h1 class="govuk-heading-xl">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" action="bank-results">

        <div class="govuk-form-group">
          <label class="govuk-label" for="bank-sort-code">
            Sort code
          </label>
          <input class="govuk-input govuk-input--width-10" id="bank-sort-code" name="bank-sort-code" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="bank-account-number">
            Account number
          </label>
          <input class="govuk-input govuk-input--width-10" id="bank-account-number" name="bank-account-number" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="bank-roll-number">
            Roll number (optional)
          </label>
          <input class="govuk-input govuk-input--width-10" id="bank-roll-number" name="bank-roll-number" type="text">
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Find account
        </button>
      </form>
    </div>
  </div>

{% endblock %}
