{% extends "layouts/internal-layout.html" %}

{% set pageName = "Verify claimant details" %}

{% block content %}
  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
  
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Atten Dence</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary">AB 12 34 56 C</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">Claim status:</dt>
      <dd class="dwp-quick-reference__secondary">
        <strong class="govuk-tag govuk-tag--red">
          Missing SR1
        </strong>
      </dd>
    </dl>
  </section>
  
  <h1 class="govuk-heading-l">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Verify personal details</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Details</span></th>
            <th scope="col" class="govuk-table__header">Claim records</th>
            <th scope="col" class="govuk-table__header">DWP records data</th>
            <th scope="col" class="govuk-table__header">Matching status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">NINO</th>
            <td class="govuk-table__cell">AB123456C</td>
            <td class="govuk-table__cell">AB123456C</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Match
              </strong>
            </td>
            <!-- <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="update/nino" class="govuk-link">Update</a>
            </td> -->
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">
              {% if (data['claimantName']) %}
                {{ data['claimantName'] | capitalize }}
              {% else %}
                Atten Dence
              {% endif %}
            </td>
            <td class="govuk-table__cell">Atten Dence</td>
            <td class="govuk-table__cell">
              {% if (data['claimantNameStatus'] == 'changed') %}
                <strong class="govuk-tag govuk-tag--yellow">
                  Updated
                </strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--green">
                  Match
                </strong>
              {% endif %}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">13/04/1958</td>
            <td class="govuk-table__cell">13/04/1958</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Match
              </strong>
            </td>
            <!-- <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="update/date-of-birth" class="govuk-link">Update</a>
            </td> -->
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Claim reference</th>
            <td class="govuk-table__cell">12345678</td>
            <td class="govuk-table__cell">12345678</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Match
              </strong>
            </td>
            <!-- <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="update/claim-reference" class="govuk-link">Update</a>
            </td> -->
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell">11 Elm street</td>
            <td class="govuk-table__cell">11 Elm street</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Match
              </strong>
            </td>
            <!-- <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="update/address" class="govuk-link">Update</a>
            </td> -->
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Postcode</th>
            <td class="govuk-table__cell">FR13 1EL</td>
            <td class="govuk-table__cell">FR13 1EL</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Match
              </strong>
            </td>
            <!-- <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="update/postcode" class="govuk-link">Update</a>
            </td> -->
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Contact number</th>
            <td class="govuk-table__cell">0700001066</td>
            <td class="govuk-table__cell">0700001066</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Match
              </strong>
            </td>
          </tr>
        </tbody>
      </table>

      <form method="post" action="change-claimant-details">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              What would you like to do next?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="verifyAction" name="verifyAction" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="verifyAction">
                  Verify that the claimant's details are correct
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="verifyAction-2" name="verifyAction" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="verifyAction-2">
                  Close the claim
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="verifyAction-2" name="verifyAction" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="verifyAction-3">
                  Change the claimant details
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
