{% extends "layouts/internal-layout.html" %}

{% set pageName = "Verify claimant details" %}

{% block content %}
  
  <h1 class="govuk-heading-l">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Verify personal details</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Details</span></th>
            <th scope="col" class="govuk-table__header">Claim records</th>
            <th scope="col" class="govuk-table__header">DWP records</th>
            <th scope="col" class="govuk-table__header">Matching status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">NINO</th>
            <td class="govuk-table__cell">
              {% if data['claim']['claimFormData']['claimOverview']['nationalInsurance'] %}
                {{ data['claim']['claimFormData']['claimOverview']['nationalInsurance'] }}
              {% else %}
                QQ123456C
              {% endif %}
            </td>
            <td class="govuk-table__cell">AB123456A</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Match
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">
              {% if data['claimantName'] %}
                {{data['claimantName']}}
              {% elif data['claim']['claimFormData']['claimOverview']['fullName'] %}
                {{data['claim']['claimFormData']['claimOverview']['fullName']}}
              {% else %}
                James Smith
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if data['dwpData']['fullName'] %}
                {{data['dwpData']['fullName']}}
              {% else %}
                James Smith
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% 
                if not 
                  (data['claimantName'] == data['dwpData']['fullName']) 
                and not 
                  (data['claim']['claimFormData']['claimOverview']['fullName'] == data['dwpData']['fullName']) 
              %}
                <strong class="govuk-tag govuk-tag--red">
                  Unmatched
                </strong>
              {% 
                elif 
                  (data['claimantName'] == data['dwpData']['fullName']) 
                or 
                  (data['claim']['claimFormData']['claimOverview']['fullName'] == data['dwpData']['fullName']) 
              %}
                <strong class="govuk-tag govuk-tag--green">
                  Match
                </strong>
              {% elif data['claimantName'] %}
                <strong class="govuk-tag govuk-tag--yellow">
                  Updated
                </strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--red">
                  Error
                </strong>
              {% endif %}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">
              {% if data['claim']['claimFormData']['claimOverview']['dateOfBirth'] %}
                {{ data['claim']['claimFormData']['claimOverview']['dateOfBirth']['dd'] }}
                {{ data['claim']['claimFormData']['claimOverview']['dateOfBirth']['mm'] | monthName }}
                {{ data['claim']['claimFormData']['claimOverview']['dateOfBirth']['yyyy'] }}
              {% else %}
                13 April 1958
              {% endif %}
            </td>
            <td class="govuk-table__cell">13 April 1958</td>
            <td class="govuk-table__cell">
              {% if not (data['claimantDateOfBirth'] == '13 April 1958') %}
                <strong class="govuk-tag govuk-tag--red">
                  Unmatched
                </strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--green">
                  Match
                </strong>
              {% endif %}
            </td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Claim reference</th>
            <td class="govuk-table__cell">12345678</td>
            <td class="govuk-table__cell">12345678</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Match
              </strong>
            </td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell">
              {% if data['claimantAddress'] %}
                {{data['claimantAddress']}}
              {% elif data['claim']['claimFormData']['claimOverview']['address']['address1'] %}
                {{ data['claim']['claimFormData']['claimOverview']['address']['address1'] }}
              {% else %}
                11 street
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if data['dwpData']['address']['address1'] %}
                {{data['dwpData']['address']['address1']}}
              {% else %}
                11 street
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% 
                if not 
                  (data['claimantAddress'] == data['dwpData']['address']['address1']) 
                and not 
                  (data['claim']['claimFormData']['claimOverview']['address']['address1'] == data['dwpData']['address']['address1']) 
              %}
                <strong class="govuk-tag govuk-tag--red">
                  Unmatched
                </strong>
              {% 
                elif 
                  (data['claimantAddress'] == data['dwpData']['address']['address1']) 
                or 
                  (data['claim']['claimFormData']['claimOverview']['address']['address1'] == data['dwpData']['address']['address1']) 
              %}
                <strong class="govuk-tag govuk-tag--green">
                  Match
                </strong>
              {% elif data['claimantAddress'] %}
                <strong class="govuk-tag govuk-tag--yellow">
                  Updated
                </strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--red">
                  Error
                </strong>
              {% endif %}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Postcode</th>
            <td class="govuk-table__cell">
              {% if data['claimantPostcode'] %}
                {{ data['claimantPostcode'] }}
              {% elif data['claim']['claimFormData']['claimOverview']['address']['postcode'] %}
                {{ data['claim']['claimFormData']['claimOverview']['address']['postcode'] }}
              {% else %}
                DL11C3
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if data['dwpData']['address']['address1'] %}
                {{data['dwpData']['address']['address1']}}
              {% else %}
                DL11C3
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if data['claimantPostcode'] %}
                <strong class="govuk-tag govuk-tag--yellow">
                  Updated
                </strong>
              {% elif not (data['claimantPostcode'] == 'FR13 1EL') %}
                <strong class="govuk-tag govuk-tag--red">
                  Unmatched
                </strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--green">
                  Match
                </strong>
              {% endif %}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Contact number</th>
            <td class="govuk-table__cell">
                {% if data['claimantContact'] %}
                  {{data['claimantContact']}}
                {% elif data['claim']['claimFormData']['claimOverview']['mainContactNumber'] %}
                  {{ data['claim']['claimFormData']['claimOverview']['mainContactNumber'] }}
                {% else %}
                  0800001066
                {% endif %}
            </td>
            <td class="govuk-table__cell">0700001066</td>
            <td class="govuk-table__cell">
              {% if data['claimantContact'] %}
                <strong class="govuk-tag govuk-tag--yellow">
                  Updated
                </strong>
              {% elseif not (data['claimantContact'] == '0700001066') %}
                <strong class="govuk-tag govuk-tag--red">
                  Unmatched
                </strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--green">
                  Match
                </strong>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <form method="post" action="verify-claimant-details-answer">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              What would you like to do next?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="verifyAction" name="verifyAction" type="radio" value="verify">
                <label class="govuk-label govuk-radios__label" for="verifyAction">
                  Verify that the claimant's details are correct
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="verifyAction-2" name="verifyAction" type="radio" value="close">
                <label class="govuk-label govuk-radios__label" for="verifyAction-2">
                  Close the claim
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="verifyAction-2" name="verifyAction" type="radio" value="change">
                <label class="govuk-label govuk-radios__label" for="verifyAction-3">
                  Change the claimant details
                </label>
              </div>
            </div>
          </fieldset>
          <input class="govuk-input govuk-visually-hidden" id="tast-verify-status" name="taskVerifyStatus" type="text" value="inprogress">
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
