{% extends "version-1/layouts/internal-layout.html" %}
{% set hideBack = "true" %}
{# {% set hideRef = "true" %} #}
{% set pageName = "Check your answers" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
              This claim has been registered
          </h1>
          <!-- <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div> -->
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          You can register another claim by <a href="../../search-nino" class="govuk-link">searching for another claimant</a>.
        </p>
        <p class="govuk-body">
          You can also <a href="../../view/task-list" class="govuk-link">view this claim</a>.
        </p>
        {# <p class="govuk-body">
          You can also <a href="../../decision/task-list" class="govuk-link">process the decision for this claim</a>.
        </p> #}
    </div>
  </div>
</div>

{% endblock %}
