{% extends "user-testing-3/layouts/internal-layout.html" %}
{% set pageName = "Check your answers" %}

{% block content %}
  
  <h1 class="govuk-heading-xl">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Personal details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the claimant's title?
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['claimTitle'] %}
              {{ data['claimTitle'] }}
            {% else %}
              Mr
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="title">Change<span class="govuk-visually-hidden"> title</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the claimant's full name?
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['claimFirstName'] or data['claimLastName'] %}
              {{ data['claimFirstName'] }} {{ data['claimLastName'] }}
            {% else %}
              Jon Smith
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="name">Change<span class="govuk-visually-hidden"> full name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the claimant requested a different name?
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['claimHaveAdditionalName'] %}
              {{ data['claimHaveAdditionalName'] }}
            {% else %}
              No
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="have-additional-name">Change<span class="govuk-visually-hidden"> have additional name</span></a>
          </dd>
        </div>
        {% if data['claimHaveAdditionalName'] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the claimant's additional name?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['claimAdditionalName'] %}
                {{ data['claimAdditionalName'] }}
              {% else %}
                Jon Jones
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="additional-name">Change<span class="govuk-visually-hidden"> additional name</span></a>
            </dd>
          </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the claimant's date of birth?
          </dt>
          <dd class="govuk-summary-list__value">
            {% 
              if (
              data['claimDateOfBirthDD'] and
              data['claimDateOfBirthMM'] and
              data['claimDateOfBirthYYYY'] 
              ) 
            %}
              {{ data['claimDateOfBirthDD'] }}
              {{ data['claimDateOfBirthMM'] | monthName }}
              {{ data['claimDateOfBirthYYYY'] }}
            {% else %}
              13 April 1958
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="date-of-birth">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the claimant still alive?
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['claimStillAlive'] %}
              {{ data['claimStillAlive'] }}
            {% else %}
              Yes
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="is-still-alive">Change<span class="govuk-visually-hidden"> claimant still alive</span></a>
          </dd>
        </div>
        {% if data['claimStillAlive'] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the claimant's date of death?
            </dt>
            <dd class="govuk-summary-list__value">
              {% 
              if (
              data['claimDateOfDeathDD'] and
              data['claimDateOfDeathMM'] and
              data['claimDateOfDeathYYYY'] 
              ) 
            %}
              {{ data['claimDateOfDeathDD'] }}
              {{ data['claimDateOfDeathMM'] | monthName }}
              {{ data['claimDateOfDeathYYYY'] }}
            {% else %}
              11 February 2026
            {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="date-of-death">Change<span class="govuk-visually-hidden"> date of death</span></a>
            </dd>
          </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the claimant's nationality?
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['claimNationality'] %}
              {{ data['claimNationality'] }}
            {% else %}
              British
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="nationality">Change<span class="govuk-visually-hidden"> nationality</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the claimant seeking asylum?
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['claimAsylum'] %}
              {{ data['claimAsylum'] }}
            {% else %}
              No
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="seeking-asylum">Change<span class="govuk-visually-hidden"> seeking asylum</span></a>
          </dd>
        </div>
      </dl>

      <form method="post" action="../claim">
        <input class="govuk-input govuk-visually-hidden" id="taskPersonalStatus" name="taskPersonalStatus" type="text" value="Complete">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
