{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      AA Agent's prototypes
    </h1>

    <p class="govuk-body">
      <strong class="govuk-!-font-weight-bold">Product manager: </strong>David Morton<br/>
      <strong class="govuk-!-font-weight-bold">Interaction designer: </strong>Matthew Barker<br/>
      <strong class="govuk-!-font-weight-bold">Content designer: </strong> Louise Duffell<br/>
      <strong class="govuk-!-font-weight-bold">User researcher: </strong> Alton Morgan
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

    <h2 class="govuk-heading-m">Iteration 1</h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--yellow">
            Untested
          </strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date period
        </dt>
        <dd class="govuk-summary-list__value">
          25/07/25 to active
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Goal
        </dt>
        <dd class="govuk-summary-list__value">
          Setup up a brand new agents prototype with the first draft of the service.<br/>
          This Iteration will contain the version the team takes to the first user testing as well as different design ideas for pages.
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Tickets 
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-5260">AAG-5260</a>
            </li>
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-4990">AAG-4990</a>
            </li>
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-5316">AAG-5316</a>
            </li>
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-5370">AAG-5370</a>
            </li>
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-5414">AAG-5414</a>
            </li>
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-5418">AAG-5418</a>
            </li>
          </ul>
        </dd>
      </div>
      <a class="govuk-button" href="iteration-1">View</a>
    </dl>
  </div>
</div>

{% endblock %}
