{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      AA Agent's prototypes
    </h1>

    <p class="govuk-body">
      <strong class="govuk-!-font-weight-bold">Product manager: </strong>David Morton<br/>
      <strong class="govuk-!-font-weight-bold">Interaction designer: </strong>Matthew Barker<br/>
      <strong class="govuk-!-font-weight-bold">Content designer: </strong> Louise Duffell<br/>
      <strong class="govuk-!-font-weight-bold">User researcher: </strong> Alton Morgan
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

    <h2 class="govuk-heading-m">Sprint 5</h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--yellow">
            Untested
          </strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sprint date
        </dt>
        <dd class="govuk-summary-list__value">
          25/07/25 to 07/08/25
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Goal
        </dt>
        <dd class="govuk-summary-list__value">
          Setup up a brand new agents prototype
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Tickets
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-5260">AAG-5260</a>
            </li>
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-4990">AAG-4990</a>
            </li>
          </ul>
        </dd>
      </div>
      <a class="govuk-button" href="sprint-5">View</a>
    </dl>
  </div>
</div>

{% endblock %}
