{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      AA Agent's prototypes
    </h1>

    <h2 class="govuk-heading-m">The team</h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-bottom-0">
          Product manager: 
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
          Pam Brook
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-bottom-0">
          Interaction designer:
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
          Matthew Barker
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-bottom-0">
          Content designer:
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
          Rebecca Walker
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-bottom-0">
          User researcher:
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
          Alton Morgan
      </div>
    </dl>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

    <h2 class="govuk-heading-m">User testing - Decision &amp; Register</h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--yellow">
            Untested
          </strong> 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date period
        </dt>
        <dd class="govuk-summary-list__value">
          TBD
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Goal
        </dt>
        <dd class="govuk-summary-list__value">
          After a dicussion with the team, it was decided that registration would be more of a priority than payments. 
          Following the current business flow we mapped out with the control team, 
          we converted the existing Legacy screens using GDS patterns and investigated which fields are still relevent.
      </div>
      <a class="govuk-button" href="user-testing-3">View</a>
    </dl>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

    <h2 class="govuk-heading-m">User testing - Decision &amp; (payment after death)</h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--red">
            Cancelled
          </strong> 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date period
        </dt>
        <dd class="govuk-summary-list__value">
          29/10/25 to 10/12/25
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Goal
        </dt>
        <dd class="govuk-summary-list__value">
          With iteration 1 testing well, the main focus for the next version was to include the death after payments journey. This plus the feedback from the last round of user testing gave the excisting process a claim journey slightly different (Payee) as well as the view state of a claim.
      </div>
      <a class="govuk-button" href="user-testing-2">View</a>
    </dl>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

    <h2 class="govuk-heading-m">User testing - Decision</h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green">
            tested
          </strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date period
        </dt>
        <dd class="govuk-summary-list__value">
          27/10/25 to 28/10/25
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Goal
        </dt>
        <dd class="govuk-summary-list__value">
          With the work put together from the team workshop sessions, the UCD team have changed some screen designs to see certain findings.<br/>
          Findings to be added.
      </div>
      <a class="govuk-button" href="user-testing-1">View</a>
    </dl>


    <h2 class="govuk-heading-m">Iteration 1 - Discovery</h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--yellow">
            Untested
          </strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date period
        </dt>
        <dd class="govuk-summary-list__value">
          08/10/25 to 27/10/25
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Goal
        </dt>
        <dd class="govuk-summary-list__value">
          After a team workshop session we decided to look at the legacy screen and create a like for like of each page but with GDS patterns.<br/>
          The team put together a document of required fields of each screen and grouped into relevant grouped sections, from that we put together a flow that became out first iteration of the service.
        </dd>
      </div>
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Tickets 
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-5260">AAG-5260</a>
            </li>
          </ul>
        </dd>
      </div> -->
      <a class="govuk-button" href="iteration-1">View</a>
    </dl>

    <h2 class="govuk-heading-m">Discovery concepts</h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--yellow">
            Untested
          </strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date period
        </dt>
        <dd class="govuk-summary-list__value">
          25/07/25 to 08/10/2025
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Goal
        </dt>
        <dd class="govuk-summary-list__value">
          Setup up a brand new agents prototype with the first draft of the service.<br/>
          This Iteration will contain the version the team takes to the first user testing as well as different design ideas for pages.
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Tickets 
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-5260">AAG-5260</a>
            </li>
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-4990">AAG-4990</a>
            </li>
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-5316">AAG-5316</a>
            </li>
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-5370">AAG-5370</a>
            </li>
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-5414">AAG-5414</a>
            </li>
            <li>
              <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/AAG-5418">AAG-5418</a>
            </li>
          </ul>
        </dd>
      </div>
      <a class="govuk-button" href="discovery-concepts">View</a>
    </dl>
  </div>
</div>

{% endblock %}
