{% extends "version-2/layouts/internal-layout.html" %}
{% set pageName = "Search for the claimant's residential address" %}

{% block content %}

  <h1 class="govuk-heading-l">
    {{ pageName }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form method="post" action="search-an-address">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
              <label class="govuk-label" for="searchPostcode">
                Postcode
              </label>
              <div id="claimNameStartDate-hint" class="govuk-hint">
                For example, AA3 1AB.
              </div>
              <input class="govuk-input govuk-input--width-10" id="claimPostcode" name="claimPostcode" type="text" value="{{data[claimPostcode]}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="claimAddressNumber">
                Building number or name (optional)
              </label>
              <div id="claimAddressNumber-hint" class="govuk-hint">
                For example, 15 or Prospect Cottage.
              </div>
              <input class="govuk-input govuk-input--width-10" id="claimAddressNumber" name="claimAddressNumber" type="text" value="{{data[claimAddressNumber]}}">
            </div>
          </fieldset>
        </div>
        <p class="govuk-body"><a href="address-int" class="govuk-link">Enter an address outside of the UK</a></p>
        <button type="submit" class="govuk-button govuk-!-margin-right-5" data-module="govuk-button">
          Find address
        </button>
      </form>
    </div>
  </div>

{% endblock %}
