{% extends "version-2/layouts/internal-layout.html" %}
{% set pageName = "Select the claimant's correspondence address" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="check-your-answers">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              {{ pageName }}
            </h1>
          </legend>
          <p class="govuk-body">
            6 addresses found for <span class="govuk-!-font-weight-bold">{{data['claimCorrespondencePostcode']}}</span>  
            {% if data['claimCorrespondenceAddressNumber'] %}      
              and <span class="govuk-!-font-weight-bold">{{data['claimCorrespondenceAddressNumber']}}</span>
            {% endif %}
            . <a class="govuk-link" href="correspondence">Search again</a>
          </p>
          <div class="govuk-form-group">
            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

            {% if data['claimCorrespondencePostcode'] == "CF10 1NS" or data['claimCorrespondencePostcode'] == "cf10 1ns" or data['claimCorrespondencePostcode'] == "CF101NS" or data['claimCorrespondencePostcode'] == "cf101ns" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull" name="claimCorrespondenceAddressFull" type="radio" value="1 Eastgate St, Cardiff">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull">
                  1 Eastgate St, Cardiff
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-2" name="claimCorrespondenceAddressFull" type="radio" value="10 Eastgate St, Cardiff">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-2">
                  10 Eastgate St, Cardiff
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-3" name="claimCorrespondenceAddressFull" type="radio" value="11 Eastgate St, Cardiff">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-3">
                  11 Eastgate St, Cardiff
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-4" name="claimCorrespondenceAddressFull" type="radio" value="12 Eastgate St, Cardiff">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-4">
                  12 Eastgate St, Cardiff
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-5" name="claimCorrespondenceAddressFull" type="radio" value="13 Eastgate St, Cardiff">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-5">
                  13 Eastgate St, Cardiff
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-6" name="claimCorrespondenceAddressFull" type="radio" value="14 Eastgate St, Cardiff">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-6">
                  14 Eastgate St, Cardiff
                </label>
              </div>
            {% elif data['claimCorrespondencePostcode'] == "BT15 1ES" or data['claimCorrespondencePostcode'] == "bt15 1es" or data['claimCorrespondencePostcode'] == "BT151ES" or data['claimCorrespondencePostcode'] == "bt151es" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull" name="claimCorrespondenceAddressFull" type="radio" value="1 S King St, Belfast">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull">
                  1 S King St, Belfast
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-2" name="claimCorrespondenceAddressFull" type="radio" value="10 S King St, Belfast">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-2">
                  10 S King St, Belfast
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-3" name="claimCorrespondenceAddressFull" type="radio" value="11 S King St, Belfast">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-3">
                  11 S King St, Belfast
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-4" name="claimCorrespondenceAddressFull" type="radio" value="12 S King St, Belfast">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-4">
                  12 S King St, Belfast
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-5" name="claimCorrespondenceAddressFull" type="radio" value="13 S King St, Belfast">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-5">
                  13 S King St, Belfast
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-6" name="claimCorrespondenceAddressFull" type="radio" value="14 S King St, Belfast">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-6">
                  14 S King St, Belfast
                </label>
              </div>
            {% else %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull" name="claimCorrespondenceAddressFull" type="radio" value="1 Meldon Road, Heaton, Newcastle upon Tyne, England">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull">
                  1 Meldon Road, Heaton, Newcastle upon Tyne, England
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-2" name="claimCorrespondenceAddressFull" type="radio" value="10 Meldon Road, Heaton, Newcastle upon Tyne, England">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-2">
                  10 Meldon Road, Heaton, Newcastle upon Tyne, England
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-3" name="claimCorrespondenceAddressFull" type="radio" value="11 Meldon Road, Heaton, Newcastle upon Tyne, England">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-3">
                  11 Meldon Road, Heaton, Newcastle upon Tyne, England
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-4" name="claimCorrespondenceAddressFull" type="radio" value="12 Meldon Road, Heaton, Newcastle upon Tyne, England">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-4">
                  12 Meldon Road, Heaton, Newcastle upon Tyne, England
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-5" name="claimCorrespondenceAddressFull" type="radio" value="13 Meldon Road, Heaton, Newcastle upon Tyne, England">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-5">
                  13 Meldon Road, Heaton, Newcastle upon Tyne, England
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimCorrespondenceAddressFull-6" name="claimCorrespondenceAddressFull" type="radio" value="14 Meldon Road, Heaton, Newcastle upon Tyne, England">
                <label class="govuk-label govuk-radios__label" for="claimCorrespondenceAddressFull-6">
                  14 Meldon Road, Heaton, Newcastle upon Tyne, England
                </label>
              </div>
            {% endif %}

            </div>
          </div>
        </fieldset>

        <p><a href="correspondence-address-uk" class="govuk-link">I cannot find an address</a></p>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
