{% extends "version-2/layouts/internal-layout.html" %}
{% set pageName = "Select the claimant's residential address" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="address-start-date">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              {{ pageName }}
            </h1>
          </legend>
          <p class="govuk-body">
            6 addresses found for <span class="govuk-!-font-weight-bold">{{data['claimPostcode']}}</span>  
            {% if data['claimAddressNumber'] %}      
              and <span class="govuk-!-font-weight-bold">{{data['claimAddressNumber']}}</span>
            {% endif %}
            . <a class="govuk-link" href="address">Search again</a>
          </p>
          <div class="govuk-form-group">
            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

            {% if data['claimPostcode'] == "CF10 1NS" or data['claimPostcode'] == "cf10 1ns" or data['claimPostcode'] == "CF101NS" or data['claimPostcode'] == "cf101ns" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull" name="claimAddressFull" type="radio" value="1 Westgate St, Cardiff">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull">
                  1 Westgate St, Cardiff
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-2" name="claimAddressFull" type="radio" value="10 Westgate St, Cardiff">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-2">
                  10 Westgate St, Cardiff
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-3" name="claimAddressFull" type="radio" value="11 Westgate St, Cardiff">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-3">
                  11 Westgate St, Cardiff
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-4" name="claimAddressFull" type="radio" value="12 Westgate St, Cardiff">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-4">
                  12 Westgate St, Cardiff
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-5" name="claimAddressFull" type="radio" value="13 Westgate St, Cardiff">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-5">
                  13 Westgate St, Cardiff
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-6" name="claimAddressFull" type="radio" value="14 Westgate St, Cardiff">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-6">
                  14 Westgate St, Cardiff
                </label>
              </div>
            {% elif data['claimPostcode'] == "BT15 1ES" or data['claimPostcode'] == "bt15 1es" or data['claimPostcode'] == "BT151ES" or data['claimPostcode'] == "bt151es" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull" name="claimAddressFull" type="radio" value="1 N Queen St, Belfast">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull">
                  1 N Queen St, Belfast
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-2" name="claimAddressFull" type="radio" value="10 N Queen St, Belfast">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-2">
                  10 N Queen St, Belfast
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-3" name="claimAddressFull" type="radio" value="11 N Queen St, Belfast">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-3">
                  11 N Queen St, Belfast
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-4" name="claimAddressFull" type="radio" value="12 N Queen St, Belfast">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-4">
                  12 N Queen St, Belfast
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-5" name="claimAddressFull" type="radio" value="13 N Queen St, Belfast">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-5">
                  13 N Queen St, Belfast
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-6" name="claimAddressFull" type="radio" value="14 N Queen St, Belfast">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-6">
                  14 N Queen St, Belfast
                </label>
              </div>
            {% else %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull" name="claimAddressFull" type="radio" value="1 Weldon Street, Heaton, Newcastle upon Tyne, England">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull">
                  1 Weldon Street, Heaton, Newcastle upon Tyne, England
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-2" name="claimAddressFull" type="radio" value="10 Weldon Street, Heaton, Newcastle upon Tyne, England">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-2">
                  10 Weldon Street, Heaton, Newcastle upon Tyne, England
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-3" name="claimAddressFull" type="radio" value="11 Weldon Street, Heaton, Newcastle upon Tyne, England">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-3">
                  11 Weldon Street, Heaton, Newcastle upon Tyne, England
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-4" name="claimAddressFull" type="radio" value="12 Weldon Street, Heaton, Newcastle upon Tyne, England">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-4">
                  12 Weldon Street, Heaton, Newcastle upon Tyne, England
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-5" name="claimAddressFull" type="radio" value="13 Weldon Street, Heaton, Newcastle upon Tyne, England">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-5">
                  13 Weldon Street, Heaton, Newcastle upon Tyne, England
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimAddressFull-6" name="claimAddressFull" type="radio" value="14 Weldon Street, Heaton, Newcastle upon Tyne, England">
                <label class="govuk-label govuk-radios__label" for="claimAddressFull-6">
                  14 Weldon Street, Heaton, Newcastle upon Tyne, England
                </label>
              </div>
            {% endif %}

            </div>
          </div>
        </fieldset>

        <p><a href="address-uk" class="govuk-link">I cannot find an address</a></p>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Use this address
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
