{% extends "layouts/header.html" %}

{% block beforeContent %}

<!-- Quick reference and task outstanding tag -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-5">

      {% set tasksOutstanding = {
        value: 'Task outstanding',
        classes: "govuk-tag--red"
        
      } %}

        {{ dwpQuickReference({
            ariaLabel: "Case information",
            primaryReference: {
                text: 'Name:',
                value: 'John Doe'
            },
            secondaryReference: {
                text: 'National Insurance number:',
                value: 'QQ 12 34 56 X'
            },
            status: (none if awarded == true else tasksOutstanding)
        })}}
    </div>

    <!-- horizontal nav -->
    {% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}

    <div class="govuk-grid-column-full">

      {{dwpHorizontalNavigation({
        selectedItem: "/claim/documents.html",
        items: [
          {
            text: "Tasks",
            href: "/claim/tasks.html",
            id: "l-item-1"
          },
          {
            text: "Personal details",
            href: "/claim/personal-details.html",
            id: "l-item-2"
          },
          {
            text: "Claim details",
            href: "/claim/claim-details.html",
            id: "l-item-3"
          },
          {
            text: "Documents",
            href: "/claim/documents.html",
            id: "l-item-4"
          },
          {
            text: "Timeline",
            href: "/claim/timeline.html",
            id: "l-item-5"
          },
          {
            text: "Award",
            href: "/claim/award-summary.html",
            id: "l-item-6"
          }
        ]
      })}}
    </div>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      {% from "govuk/components/table/macro.njk" import govukTable %}

      {{ govukTable({
        caption: "Documents",
        captionClasses: "govuk-table__caption--m",
        head: [
          {
            text: "Action"
          },
          {
            text: "Date received"
          },
          {
            text: "Document type"
          },
          {
            text: "Status"
          },
          {
            text: "Class"
          },
          {
            text: "Harmful status"
          }
        ],
        rows: [
          [
            {
              text: "Open"
            },
            {
              text: "24 September 2025"
            },
            {
              text: "AA1 (SR) Digital"
            },
            {
              text: "Open"
            },
            {
              text: "Supporting"
            },
            {
              text: "Not Harmful"
            }
          ],
          [
            {
              text: "Open"
            },
            {
              text: "24 September 2025"
            },
            {
              text: "SR1"
            },
            {
              text: "Open"
            },
            {
              text: "Supporting"
            },
            {
              text: "Not Harmful"
            }
          ],
          [
            {
              text: "Open"
            },
            {
              text: "24 September 2025"
            },
            {
              text: "AA Examination Report"
            },
            {
              text: "Open"
            },
            {
              text: "Supporting"
            },
            {
              text: "Potentially Harmful"
            }
          ],
          [
            {
              text: "Open"
            },
            {
              text: "24 September 2025"
            },
            {
              text: "Care Home Notification"
            },
            {
              text: "Closed"
            },
            {
              text: "Ephermeral"
            },
            {
              text: "Harmful"
            }
          ]
        ]
      }) }} 
    </div>
  </div>
{% endblock %}
