{% extends "layouts/header.html" %}

console.log(request.session.data);

{% block beforeContent %}

<!-- Quick reference and task outstanding tag -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-5">

      {% set tasksOutstanding = {
        value: 'Task outstanding',
        classes: "govuk-tag--red"
        
      } %}

        {{ dwpQuickReference({
            ariaLabel: "Case information",
            primaryReference: {
                text: 'Name:',
                value: 'John Doe'
            },
            secondaryReference: {
                text: 'National Insurance number:',
                value: 'QQ 12 34 56 X'
            },
            status: (none if awarded == true else tasksOutstanding)
        })}}
    </div>

    <!-- horizontal nav -->
    {% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}

    <div class="govuk-grid-column-full">

      {{dwpHorizontalNavigation({
        selectedItem: "/claim/personal-details.html",
        items: [
          {
            text: "Tasks",
            href: "/claim/tasks.html",
            id: "l-item-1"
          },
          {
            text: "Personal details",
            href: "/claim/personal-details.html",
            id: "l-item-2"
          },
          {
            text: "Claim details",
            href: "/claim/claim-details.html",
            id: "l-item-3"
          },
          {
            text: "Documents",
            href: "/claim/documents.html",
            id: "l-item-4"
          },
          {
            text: "Timeline",
            href: "/claim/timeline.html",
            id: "l-item-5"
          },
          {
            text: "Award",
            href: "/claim/award-summary.html",
            id: "l-item-6"
          }
        ]
      })}}
    </div>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      {% from "govuk/components/table/macro.njk" import govukTable %}

      {{ govukTable({
        caption: "Claimant overview",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "Full name"
            },
            {
              text: "John Stephen Doe"
            }
          ],
          [
            {
              text: "Date of birth"
            },
            {
              text: "30 July 1960"
            }
          ],
          [
            {
              text: "SREL status"
            },
            {
              text: "Application received"
            }
          ],
          [
            {
              text: "Nationality"
            },
            {
              text: "British"
            }
          ],
          [
            {
              text: "Residence"
            },
            {
              text: "United Kingdom"
            }
          ]
        ]
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {% from "govuk/components/tabs/macro.njk" import govukTabs %}
      {% from "govuk/components/table/macro.njk" import govukTable %}

      {% set contactDetailsHtml %}
      {{ govukTable({
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "Residential address"
            },
            {
              text: "Flat 12, 187 Brixton Street, Waterloo, London, SE1 5TU"
            }
          ],
          [
            {
              text: "Correspondence address"
            },
            {
              text: "Flat 12, 187 Brixton Street, Waterloo, London, SE1 5TU"
            }
          ],
          [
            {
              text: "Phone number"
            },
            {
              text: "07771234567"
            }
          ],
          [
            {
              text: "Alternative phone number"
            },
            {
              text: "None"
            }
          ]
        ]
      }) }}
      {% endset -%}

      {% set relationshipsHtml %}
        <p>No known relationships.</p>
      {% endset -%}

      {% set interestsHtml %}
        <p>No known Interests.</p>
      {% endset -%}

      {% set flagsAndMarkersHtml %}
      {{ govukTable({
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "KCIS"
            },
            {
              text: "7 - Claimant/Customer, partner and other member of household"
            }
          ],
          [
            {
              text: "Banned from office"
            },
            {
              text: "Not present"
            }
          ]
        ]
      }) }}
      {% endset -%}

      {{ govukTabs({
        items: [
          {
            label: "Contact details",
            id: "contact-details",
            panel: {
              html: contactDetailsHtml
            }
          },
          {
            label: "Relationships",
            id: "relationships",
            panel: {
              html: relationshipsHtml
            }
          },
          {
            label: "Interests",
            id: "interests",
            panel: {
              html: interestsHtml
            }
          },
          {
            label: "Flags and markers",
            id: "flags-and-markers",
            panel: {
              html: flagsAndMarkersHtml
            }
          }
        ]
      }) }}

    </div>

  </div>
{% endblock %}
