{% extends "layouts/header.html" %}

console.log(request.session.data);

{% block beforeContent %}

<!-- Quick reference and task outstanding tag -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-5">

      {% set tasksOutstanding = {
        value: 'Task outstanding',
        classes: "govuk-tag--red"
        
      } %}

        {{ dwpQuickReference({
            ariaLabel: "Case information",
            primaryReference: {
                text: 'Name:',
                value: 'John Doe'
            },
            secondaryReference: {
                text: 'National Insurance number:',
                value: 'QQ 12 34 56 X'
            },
            status: (none if awarded == true else tasksOutstanding)
        })}}
    </div>

    <!-- horizontal nav -->
    {% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}

    <div class="govuk-grid-column-full">

      {{dwpHorizontalNavigation({
        selectedItem: "/sc1/tasks.html",
        items: [
          {
            text: "Tasks",
            href: "/sc1/tasks.html",
            id: "l-item-1"
          },
          {
            text: "Personal details",
            href: "/sc1/personal-details.html",
            id: "l-item-2"
          },
          {
            text: "Claim details",
            href: "/sc1/claim-details.html",
            id: "l-item-3"
          },
          {
            text: "Documents",
            href: "/sc1/documents.html",
            id: "l-item-4"
          },
          {
            text: "Timeline",
            href: "/sc1/timeline.html",
            id: "l-item-5"
          },
          {
            text: "Award",
            href: "/sc1/award-summary.html",
            id: "l-item-6"
          }
        ]
      })}}
    </div>
</div>

{% endblock %}

{% block footer %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}
    {{
        dwpFooter({
            meta: {
                visuallyHiddenTitle: "About this website",
                items: [
                {
                    href: "",
                    text: "Accessibility statement"
                },
                {
                    href: "",
                    text: "Privacy"
                }
                ]
            }
        }) 
    }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Check before you start</h2>


      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Not yet started",
          classes: "govuk-tag--blue"
        }
      } %}

      {% set blockedStatus = {
        text: "Cannot start yet",
        classes: "govuk-task-list__status--cannot-start-yet"
        }
      %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}
      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Verify claimant"
            },
            href: "/sc1/verification.html",
            status: (completedStatus if verify == true else incompleteStatus) 
          },
          {
            title: {
              text: "Check eligibility"
            },
            href: ("/sc1/eligibility.html" if verify == true else none),
            status: (completedStatus if eligible == true else (incompleteStatus if verify == true else blockedStatus)) 
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Process sc1</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Decision"
            },
            href: ("/sc1/decision/decision-details.html" if eligible == true else none),
            status: (completedStatus if decided == true else (incompleteStatus if eligible == true else blockedStatus)) 
          },
          {
            title: {
              text: "Award"
            },
            href: ("/sc1/make-award.html" if decided == true else none),
            status: (completedStatus if awarded == true else (incompleteStatus if decided == true else blockedStatus)) 
          }
        ]
      }) }}

      <div class="govuk-!-margin-top-5">
        {{ govukButton({
          text: "Return to DWP Tasks",
          href: "#",
          classes: ("govuk-button--primary" if awarded == true else "govuk-button--secondary")})
        }}
      </div>
    </div>
  </div>
{% endblock %}
