{%- set assetPath = assetPath | default('/plugin-assets/govuk-frontend' + govukFrontend.assetPath) -%}
{% set showBack = "true" %}

{% extends "govuk/template.njk" %}

{% block head %}
  {% block meta %}{% endblock %}
  {% block stylesheets %}
    {% include "govuk-prototype-kit/includes/stylesheets.njk" %}
  {% endblock %}
{% endblock %}

{% block pageTitle %}
  {% if pageName %}{{ pageName }} - {% endif %}{{ serviceName }} - GOV.UK
{% endblock %}



{% block header %}
  <header class="govuk-header" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__content govuk-header__content-noLogo">
        <a href="/" class="govuk-header__link govuk-header__service-name">
          {{ serviceName }}
        </a>
      </div>
    </div>
  </header>
{% endblock %}

{% block beforeContent %}
  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
  <script>console.log({{ data | dump | safe }})</script>
  {% if not (hideRef) %}
    <div class="govuk-!-margin-top-5">
      <section class="dwp-quick-reference" aria-label="Case information">
        <dl class="dwp-quick-reference__block">
          <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
          <dd class="dwp-quick-reference__primary">
            {% if data['claim']['claimFormData']['claimOverview']['fullName'] %}
              {{data['claim']['claimFormData']['claimOverview']['fullName']}}
            {% else %}
              James Smith
            {% endif %}
          </dd>
          <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">National Insurance number:</dt>
          <dd class="dwp-quick-reference__secondary">
            {% if data['claim']['claimFormData']['claimOverview']['nationalInsurance'] %}
              {{ data['claim']['claimFormData']['claimOverview']['nationalInsurance'] }}
            {% else %}
              QQ123456C
            {% endif %}
          </dd>
          <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">Claim status:</dt>
          <dd class="dwp-quick-reference__secondary">
            <strong class="govuk-tag govuk-tag--green">
              Open
            </strong>
          </dd>
        </dl>
      </section>
    </div>
  {% endif %}
{% endblock %}

{% if (GOVUKPrototypeKit.isDevelopment) %}
  {% set footerItems = [
    {
      href: "/manage-prototype",
      text: "Manage your prototype"
    }, {
      href: "/manage-prototype/clear-data",
      text: "Clear data"
    }
  ] %}
{% else %}
  {% set footerItems = [
    {
      href: "/manage-prototype/clear-data",
      text: "Clear data"
    }
  ] %}
{% endif %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: footerItems,
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "govuk-prototype-kit/includes/scripts.njk" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}